#root{
  display: grid;
  align-items: center;
  justify-content: center;
}

#root h1{
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  width: 100%;
  text-align: center;
}

#switchMode{
  font-size: 0.85rem;
  margin-top: 1em;
}