@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#nav{
  width: 100vw;
  height: var(--nav-height);
  background: var(--bg-darkest);
  display: flex;
}

#blogName{
  flex-grow: 1;
  padding-left: 0.5em;
  color: var(--primary);
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  font-weight: 400;
  align-self: center;
  cursor: default;
  user-select: none;
}

#menu{
  flex-grow: 2;
  list-style: none;
  display: flex;
}

#menu > li{
  flex-grow: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}

#menu li a{
  position: relative;
  color: var(--primary);
  font-size: 1.6rem;
  text-decoration: none;
  transition: color var(--dur-short) ease-in-out;
}

#menu li a:hover{
  color: var(--primary-hover);
}

#menu li a:active{
  color: var(--primary-active);
}

#menu li a::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -0.35em;
  width: 100%;
  height: 0.17em;
  background: var(--primary);
  transform: scaleX(0);
  transition: transform var(--dur-short) ease-in-out,
    background-color var(--dur-short) ease-in-out;
}

#menu li a:global(.active)::after{
  transform: scaleX(1);
}

#menu li a:hover::after{
  transform: scaleX(1);
  background: var(--primary-hover);
}

#menu li a:active::after{
  background: var(--primary-active);
}

#accountControl{
  flex-grow: 1;
  padding-right: 0.5em;
  font-size: 2.5rem;
  align-self: center;
  display: grid;
  grid-auto-flow: row;
  justify-items: end;
}

#username{
  color: var(--text-normal);
  font-size: 2rem;
  cursor: default;
}

#loginBtn{
  padding: 0.75em 1em;
  border-radius: 1.25em;
  background: var(--primary);
  color: var(--text-normal);
  font-size: 1rem;
  text-decoration: none;
  transition: background-color var(--dur-short) ease-in-out,
    box-shadow var(--dur-short) ease-in-out;
}

#loginBtn:hover{
  background: var(--primary-hover);
}

#loginBtn:active{
  background: var(--primary-active);  
}