@import url("./generic.css");

:root{
  --bg-dark: #36393f;
  --bg-darker: #2f3136;
  --bg-darkest: #202225;

  --elbg-dark: #32353b;
  --inputbg: #303339;

  --primary: #2196F3;
  --primary-hover: #1976D2;
  --primary-active: #1565C0;
  --accent: #448AFF;

  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;

  --divider: #BDBDBD;


  --nav-height: 64px;
  --page-max-width: 1280px;
  --page-small-width: 360px;

  --dur-short: 0.15s;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 1;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-darker);
}

code,
.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: var(--text-normal);
  font-size: 2rem;
  font-weight: bold;
}

a, .a{
  background: none;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

a:hover, .a:hover{
  text-decoration: underline;
}

#root{
  width: 100%;
  height: 100%;
}

.route{
  width: 100%;
  height: calc(100% - var(--nav-height));
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.container{
  box-sizing: border-box;
  padding: 1em;
  background: var(--bg-dark);
  width: fit-content;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.page-max-width{
  width: 100%;
  max-width: var(--page-max-width);
}

.page-max-height{
  box-sizing: border-box;
  margin-top: 2em;
  margin-bottom: 2em;
  height: calc(100% - 4em);
}

.page-small-width{
  width: var(--page-small-width);
}

.btn{
  display: inline-block;
  padding: 1em 1em;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-normal);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--dur-short) ease-in-out;
}

.btn-submit{
  background: var(--primary);
}

.btn-submit:hover{
  background: var(--primary-hover);
}

.btn-submit:active{
  background: var(--primary-active);
}

.btn-cancel{
  background: #708090;
}

.btn-cancel:hover{
  background: #506070;
}

.btn-cancel:active{
  background: #405060;
}

.form-title{
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  width: 100%;
  text-align: center;
}

input,
textarea{
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.5em 0.5em;
  background: var(--inputbg);
  color: var(--text-normal);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  border: 2px solid var(--bg-darker);
  border-radius: 4px;
  transition: border-color var(--dur-short) ease-in-out;
}

textarea{
  resize: none;
}

input:hover,
textarea:hover{
  border-color: var(--primary-hover);
}

input:focus,
textarea:focus{
  border-color: var(--primary-active);
}

label{
  color: var(--text-muted);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.muted{
  color: var(--text-muted);
}